@import "colors.sass"
.about
  width: 960px
  margin: 0 auto
  .about-wrapper
    margin: 2em auto
    width: 80%
    header
      .title
        font-size: 2em
        text-transform: uppercase
        text-align: center
        margin: 10px 0
        color: $black
        font-family: Dolce-Vita-Heavy-Bold
        font-weight: bold
    div
      h2
        font-size: 2em
        text-transform: capitalize
        margin: 10px 0
        color: $green
        font-family: GT-Eesti-Pro-Text-Medium
        font-weight: normal
      p
        font-size: 1em
        color: $black
        font-family: GT-Eesti-Pro-Text-Regular
        font-weight: normal
        span
          color: $green
      ul
        li
          font-size: 1em
          color: $black
          font-family: GT-Eesti-Pro-Text-Regular
          font-weight: normal
          .fa-bullseye-arrow
            color: $green
