@import "colors.sass"

.agenda
  margin: 0 auto
  width: 90%
  h1
    text-align: center
    color: $black
    font-family: Dolce-Vita-Heavy-Bold
    font-size: 2em
    padding-top: 20px
  .agenda-filter
    border: 3px solid $pink
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 2em
    margin: 2em
    h1
      color: $pink
      font-family: GT-Eesti-Pro-Text-Medium
      text-transform: uppercase
    .dropdown-wrapper
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      select
        border: 3px solid $blue
        font-size: 1.2em
        background: transparent
        -webkit-appearance: none
        border-radius: 0
        font-family: GT-Eesti-Pro-Text-Medium
        text-transform: uppercase
        color: $blue
