@import "colors.sass"

.agenda
  margin: 0 auto
  width: 90%
  h1
    text-align: center
    color: $black
    font-family: Dolce-Vita-Heavy-Bold
    font-size: 2em
    padding-top: 20px
  .agenda-filter
    border: 3px solid $pink
    display: flex
    flex-wrap: wrap
    width: 80%
    margin: 2em auto
    padding: 2em
    justify-content: space-between;
    align-items: center
    h2
      color: $pink
      font-family: GT-Eesti-Pro-Text-Medium
      text-transform: uppercase

    .selectdiv
      position: relative;
      float: left;
      min-width: 200px;
      select::-ms-expand
        display: none;
    .selectdiv:after
      content: '<>';
      font: 17px "Consolas", monospace;
      color: $blue
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      right: 11px;
      /*Adjust for position however you want*/

      top: 18px;
      padding: 0 0 2px;
      border-bottom: 1px solid $blue;
      /*left line */

      position: absolute;
      pointer-events: none;
      select
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        max-width: 320px;
        height: 50px;
        float: right;
        margin: 5px 0px;
        padding: 0px 24px;
        font-size: 16px;
        line-height: 1.75;
        color: $blue
        background-color: #ffffff;
        background-image: none;
        border: 1px solid $blue
        -ms-word-break: normal;
        word-break: normal;

    .dropdown-wrapper
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      width: 80%
      align-items: center

      select
        border: 3px solid $blue
        font-size: 1em
        background: transparent
        border-radius: 0
        font-family: GT-Eesti-Pro-Text-Medium
        text-transform: uppercase
        color: $blue
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        max-width: 320px;

        background-image: none;

      .selectArrow
        height: unset
