@import "colors.sass"
.archivesRoll
  .column
    .archivesRoll-article
      border: 3px solid $pink
      padding: 10px
      .post-meta
        margin: 0 auto
        .title

          header
            display: flex
            flex-direction: column
            align-items: center
            text-align: center
            margin-bottom: 10px
          h1
            font-family: GT-Eesti-Pro-Text-Medium
            font-weight: normal
            text-transform: uppercase
            color: $blue
            font-size: 0.8em
          h1:hover
            color: $pink
          span
            font-family: GT-Eesti-Pro-Text-Regular
            font-weight: normal
            font-size: 1em
            color: $pink
