@import "colors.sass"
.blogs
  margin: 2em auto
  width: 80%
  .blogs-title
    text-align: center;
    color: $black;
    font-family: Dolce-Vita-Heavy-Bold;
    font-size: 2em;
    margin-bottom: 10px;
  // blog roll
  .container
    .content
      .blogRoll
        flex-direction: column
        width: 90%
        margin: 0 auto
        .column
          border: 3px solid $yellow
          margin: 15px 0
          .blogRoll-article
            display: flex
            flex-direction: column

            .post-meta
              display: flex
              flex-wrap: wrap
              align-items: center
              margin-bottom: 10px
              .featured-thumbnail
                width: 10em
                margin-right: 20px
            a
              font-family: GT-Eesti-Pro-Text-Medium
              text-transform: uppercase
              font-weight: normal
              font-size: 0.8em
              color: $orange
            a:hover
              color: $yellow
            p
              font-family: GT-Eesti-Pro-Text-Regular
              font-size: 1em
              color: $black
          .subtitle
            font-family: GT-Eesti-Pro-Text-Regular
            font-size: 1em
            color: $black


  .blog-list-item.is-featured

  .blog-list-item header
    display: flex;

  .blog-list-item .featured-thumbnail
    flex-basis: 35%;
    margin: 0 1.5em 0 0;
