@import "colors.sass"
.comingUpEvents
  overflow: hidden
  padding: 20px
  display: flex
  flex-direction: column
  align-items: center

  h1
    font-family: GT-Eesti-Pro-Text-Bold
    font-size: 1.5em
    line-height: 35px
    text-transform: uppercase
    color: white

  .performancer
    position: relative

    h1
      font-family: GT-Eesti-Pro-Text-Bold
      font-weight: bold
      font-size: 1.5em
      line-height: 35px
      text-transform: uppercase
      color: $black
      text-decoration: underline
    p
      font-family: GT-Eesti-Pro-Text-Medium
      font-size: 1.5em
      line-height: 35px
      text-transform: capitalize
      color: $orange

  a
    font-family: Dolce-Vita-Heavy-Bold
    padding: 10px
    color: white
    background-color: $black
    height: 100%
  a:hover
    background-color: $pink
  .event-wrapper
    background-color: white
    border: 2px solid $orange
    padding: 10px

    time
      top: 50px
      position: relative
      font-size: 2em
      font-family: GT-Eesti-Pro-Text-Bold
      text-transform: uppercase
      display: flex
      flex-direction: column
      width: 100px

      .date-event
        background-color: $orange
      .month-event
        background-color: $orange

    .event-detail
      display: flex
      flex-direction: column
      position: relative
      justify-content: space-between
      padding-bottom: 10px


      img
        width: 200px
      .detail-btn-event
        display: flex
        justify-content: space-between
        align-items: flex-end
        .detail
          display: flex
          flex-direction: column
          .tag-event
            color: $orange
          span
            font-family: GT-Eesti-Pro-Text-Regular
