@import "colors.sass"

.highlights
  padding: 15px


  div
    margin-left: 5px
    margin-right: 5px
  .poster
    img
      border: 5px solid $blue

    a
      background-color: $blue
      color: white
      font-family: Dolce-Vita-Heavy-Bold
      padding: 10px
      display: inline-block

    a:hover
      color: $black

  .special-event
    h1
      font-family: GT-Eesti-Pro-Text-Bold
      font-weight: bold
      font-size: 1.5em
      line-height: 35px
      text-transform: uppercase
      color: $black
      background: rgba(255, 255, 255, 0.75)
      border: 5px solid $pink

    span
      font-family: GT-Eesti-Pro-Text-Regular
      font-size: 1em
      display: flex

    .date-event
      font-family: GT-Eesti-Pro-Text-Medium
      border: 1px solid $pink
      color: $pink
      background-color: white
      font-size: 1em

    .month-event
      font-family: GT-Eesti-Pro-Text-Medium
      color: black
      background-color: $pink
      font-size: 1em

    a
      background-color: $pink
      color: $black
      font-family: Dolce-Vita-Heavy-Bold
      padding: 10px
      display: inline-block

    a:hover
      color: white
