@import "colors.sass"

.highlights
  padding: 15px

  .column
    display: flex

  .column-event
    flex-grow: 55
  .column-poster
    flex-grow: 45
  div
    margin-left: 5px
    margin-right: 5px
  .poster
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    img
      border: 5px solid $blue

    a
      background-color: $blue
      color: white
      font-family: Dolce-Vita-Heavy-Bold
      padding: 10px
      display: inline-block
      text-align: center
      width: 8em;
      position: relative;
      top: -24px;
      transition: color 0.5s ease;

    a:hover
      color: $black

  .special-event
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-end
    img
      position: relative

    time
      font-family: GT-Eesti-Pro-Text-Bold
      text-transform: uppercase
      display: flex
      flex-direction: column
      width: 100px
      border: 6px solid $pink
      text-align: center
      position: relative
      bottom: -36px
      z-index: 12
      margin-right: 10px

      .date-event
        height: 40px
        background-color: rgba(255, 255, 255, 0.2)
        font-size: 26px
      .month-event
        background-color: $pink
        font-size: 20px

    h1
      font-family: GT-Eesti-Pro-Text-Bold
      font-weight: bold
      font-size: 1.5em
      line-height: 35px
      text-transform: uppercase
      color: $black
      background: rgba(255, 255, 255, 0.75)
      border: 5px solid $pink
      position: relative
      bottom: 60px
      display: block
      right: 10px


    span
      font-family: GT-Eesti-Pro-Text-Regular
      font-size: 1em

    .genre
      background-color: $pink
      position: relative
      left: -6px
      padding-bottom: 100px
      top: 50px


    .date-event
      font-family: GT-Eesti-Pro-Text-Medium
      border: 1px solid $pink
      color: $pink
      background-color: white
      font-size: 1em

    .month-event
      font-family: GT-Eesti-Pro-Text-Medium
      color: black
      background-color: $pink
      font-size: 1em

    a
      color: $black
      font-family: Dolce-Vita-Heavy-Bold
      padding: 10px
      transition: color 0.5s ease
      position: relative

    a:hover
      color: $pink

.title-wrapper
  position: relative
  top: -25px
  .tag-event
    background-color: $pink
    position: relative
    bottom: -75px
    padding-bottom: 100px
    right: 15px
    padding-left: 15px
    padding-top: 15px
    padding-right: 10px
    color: white
    font-family: GT-Eesti-Pro-Text-Regular
    font-size: 1em
  h1
    font-family: GT-Eesti-Pro-Text-Bold
    font-weight: bold
    font-size: 1.5em
    line-height: 35px
    text-transform: uppercase
    color: $black
    background: rgba(255, 255, 255, 0.75)
    border: 5px solid $pink
    position: relative
    top: -40px
    transition: background-color 0.5s ease
    margin: 15px
    padding: 5px
  h1:hover
    background-color: $pink
