@import "colors.sass"

.news
  display: flex
  width: 90%
  margin: 0 auto
  flex-wrap: wrap

  .titleNewsSection
    font-family: GT-Eesti-Pro-Text-Bold
    text-transform: uppercase
    font-size: 1.5em
    text-align: center


  .blog
    .goToBlog
        font-family: Dolce-Vita-Heavy-Bold
        padding: 10px
        display: inline-block
        color: $black
        background-color: $yellow
    .goToBlog:hover
      color: white
    h1
      color: $yellow

    .wrapper
      border: 5px solid $yellow
      font-size: 1em

      header
        border-bottom: 2px solid $yellow

      p
        font-family: GT-Eesti-Pro-Text-Medium
      time
        font-family: GT-Eesti-Pro-Text-Regular

      .readMore
        color: $yellow
        font-family: GT-Eesti-Pro-Text-Medium

      .readMore:hover
        color: $orange

      .blogTitle
        color: $orange
        font-family: GT-Eesti-Pro-Text-Bold
        text-transform: uppercase



  .social-med
    h1
      color: $blue

    .wrapper
      border: 5px solid $blue
      label
        color: $black
        font-family: GT-Eesti-Pro-Text-Medium

      .emailSubscribe
        border: 2px solid $blue
      .emailSubscribe::placeholder
        color: $pink
        opacity: 0.5
        font-family: GT-Eesti-Pro-Text-Regular
      .subscribe
        background-color: $pink
        color: $black
        text-transform: uppercase
        font-family: Dolce-Vita-Heavy-Bold
        border: none

      .subscribe:hover
        color: white
      .channel
        border-bottom: 2px solid $blue
      a
        color: $black
        text-transform: uppercase
        font-family: Dolce-Vita-Heavy-Bold
        background-color: $pink

      .iconSocial
        color: $blue

      a:hover
        color: $blue

      h2
        color: $black
        font-family: GT-Eesti-Pro-Text-Medium
        border-bottom: 3px solid $blue
