@import "colors.sass"

.press
  .content
    .columns
      display: block
      li
        text-decoration: none
        list-style: none
        font-family: GT-Eesti-Pro-Text-Medium
        color: $black
        text-transform: capitalize
        font-size: 1.2em
        padding-top: 5px
        padding-bottom: 5px
        a
          color: $black
        a:hover
          color: $orange
